

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Selection   
 */
html,body{


}

body{
	background: #fff;
}

::selection {
	background: #000;
	color:#ffffff;
}

::-moz-selection {
	background: #000;
	color:#ffffff;
}
#home h1 span,#terms h1 span{
	background: #000;
	color:#fff;
}

/*
 * Margins and paddings  
 */
body {
	padding:0;
/*	background: url(../img/bg.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;*/
}
.navbar-fixed-top{
	margin-bottom: 0;	
	
}
#top-bar {
	background: #000;
}
.navbar-fixed-top{
	margin-left: 0;
	margin-right: 0;
}
#footer{
	padding-top: 20px;
	padding-bottom: 15px;
}

.margin15 {
	margin-top: 15%;
}
.margin25{
	margin-top: 25%;
}
.margin-25{
	margin-bottom: 25%;
}
.margin-15 {
	margin-bottom: 15%;
}

.margin10 {
	margin-top: 10%;

}

.margin-10 {
	margin-bottom: 10%;
	
}

.margin5 {
	margin-top: 5%;
	
}

.margin-5 {
	margin-bottom: 5%;
}

#features p,#features h2{
	padding: 0 15px;
}

/*
 * Text Styles  
 */

h1 {
	color: #fff;
	font-size: 50px;
	line-height: 59px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

}

h2 {

	color: #a0aab4;
	font-size: 50px;
	line-height: 59px;
	font-weight: 300;

}

span {
	color: #967cac;
	font-weight: 400;
}

p {
	color: #A0AAB4;
	padding: 25px 0;
	text-align: justify;
}

a {
	color: #967cac;
}

a:hover {
	color: #786a8d;
	text-decoration: none;
}


/*
 * Block Styles  
 */
#features,#regpage,#register{
	min-height: 80%;
}

#home,#features,#terms,#top-bar,#register,#footer,#regpage{
	width:100%;
}
#home,#terms,#terms p,#regpage{/*,#features h2 {*/
	text-align: center;
}

#features,#footer,#register,#regpage {
	background:#fff;
	
}

#terms p {
	color: #EDF1F1;
}

#terms a {
	color: #ffffff;
}

#terms a:hover {
	color: #EDF1F1;
}

#footer {
	margin-bottom: 0;
}

/*
 * Register Styles  
 */
#register h3{
	text-align: center;
}

#register,#register p{
	text-align: center;
}

.control-group{
	padding-left: 14px;
}
.control-label{
	text-align: left;
}
.controls{
	padding-right: 14px;
}
.controls .input-xlarge{
	width: 100%;
}
.input-medium{
		width:125px;
}
.fname,.lname{
	width:40%
}
#select{
	width:70%;
}
#select #state_chzn,#select #chzn-drop{
	width:100% !important;
}
.code{
	width:25%;
}

.fname input,.lname input,.code input{
	width: 100%;
}
.btn-group .btn.btn-success{
	margin-left: 10px;
}
.ok{
	margin-top: 50px;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	#footer .ft{
		padding:0 15px;
	}

	.input-medium{
		width:90px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
	#footer .ft{
		padding:0 15px;
	}
	
	.lname,.code{
		padding-right: 14px;
	}
	.input-medium{
		width:200px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	#terms h1{
		font-size: 32px;
		letter-spacing: 1px;
	}
	#terms .btn-large{
		padding: 11px 15px;
	}
}




